body {
    background: #878683
}

header {
    background-color:rgb(108, 172, 255);
    width: 100%;
    min-height: 80px;
}

nav {
    font-size: 2vw;
}

li {
    list-style: none;
    display: inline-block;
}

.logo {
    width: 6vw;
    height: auto;
}

.logo:hover{
    transform: scale(1.4)
}

img {
    max-width: 100%;
    height: 70vw;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 0, 0, 0.336);
  }

main {
    font-size: 2vw;
}

p {
    text-align: center;
    font-size: 2vw;
}

.footnav {
    text-align: right;
    padding-right: 1vw;
}

footer {
    background-color:rgb(108, 172, 255);
    min-height: 120px;
    width: 100%;
}